<%- include('header') %>

<h2>
  Nova vaga:
  <a href="/admin/vagas">Categorias</a>
</h2>
<div>
    <form action="" method="POST">
        <label for="">Título:</label>
        <input type="text" name="categoria">
        <button>Salvar categoria</button>
    </form>
</div>
<%- include('footer') %>
